.container {
    position: relative;
    height: 18em;
    margin: 3em 0;
    --difference: 2em;

    .navy {
        width: 100%;
        height: 100%;
        background-color: #272449;

        .content {
            position: absolute;
            z-index: 100;
            padding: 2.5em;
            color: white;
            width: 70%;
        .title {
            font-size: 2.5em;
            padding-bottom: 0.5em;
        }
        .text {
            font-size: 0.9em;
            font-weight: 300;
            padding-bottom: 4em;
        }
    }
    .buttons {
        position: absolute;
        bottom: 2em;
        left: 2em;
        .button {
            margin-right: 2em;
        }
    }
    }
        
        .yellow {
            position: absolute;
            top: calc(-1 * var(--difference));
            right: 0;
            background-color: #ffdc4e;
            position: absolute;
            height: calc(100% + (2 * var(--difference)));
            width: 25%;
            z-index: 10;
            
            .skarbonka {
                position: absolute;
                bottom: calc(var(--difference));
                right: 2em;
                margin-top: 2em;
                width: 90%;
                height: 80%;
                display: flex;
                justify-content: center;
                .image {
                    width: 40%;
                }
            }
        }

        .yellow::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffdc4e;
            transform-origin: 100% 0;
            transform: skew(-15deg);
        }
}

@media only screen and (max-width: 1080px) {
    .container {
        height: 36em;
        .navy {
            position: relative;
            height: 50%;
            .content {
                width: 100%;
                text-align: center;
                .title {
                    font-size: 1.5em;
                }
            }
            .buttons {
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                margin-bottom: 1.5em;

            }
        }
        .yellow {
            position: relative;
            height: 50%;
            width: 100%
        }

        .yellow::before {
            height: 0;
        }
    }
}





// .images {
//     position: relative;
//     margin: 4em 0;
//     padding-bottom: 5em;
//     height: 23em;
// }
// .navy {
//     position: absolute;
//     top: 1.3em;
// }

// .yellow {
//     position: absolute;
//     top: 0;
//     right: 0;
//     max-width: 45%;
// }

// .skarbonka {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     padding-bottom: 1em;
//     padding-right: 8em;
//     width: 30%;
// }


// .content {
//     position: absolute;
//     z-index: 100;
//     padding: 2.5em;
//     color: white;
// .title {
//     font-size: 2.5em;
//     padding-bottom: 0.5em;
// }
// .text {
//     font-size: 0.9em;
//     font-weight: 300;
//     padding-bottom: 4em;
// }
// }