.container {
    text-align: center;
    display: flex;
    height: 8em;
    align-items: center;
    align-content: center;
    margin-bottom: 2em;

    .col {
        vertical-align: middle;
    }
}