.container {
    background-color: #f6f6f6;
    padding-top: 4em;
    
    .logo {
        height: 10em;
    }

    .bottom {
        padding: 2em 0;
        background-color: #efefef;
        .left {

        }

        .right {
            text-align: center;

            .img {
                display: inline;
                padding: 1em;
            }
        }
    }
    
}