.custom-btn {
    width: 140px;
    height: 50px;
    font-size: 0.8em;
    font-weight: 600;
    color: white;
    margin-right: 2em;
    background-color: transparent;
    outline: 1px solid white;
  }

  .ylw {
      background-color: #FFDC4E;
      outline: none;
      color: black;
  }
