.button {
    display: inline-block;
    border: 0;
    border-radius: 2em;
    padding: 0.8em 2em;
    font-size: 0.8em;
    background-color: transparent;
    
    &--yellow {
        background-color: #FFDC4E;
    }

    &--white {
        border: 1px solid white;
        color: white;
    }

    &--black {
        border: 1px solid black;
        color: black;
    }
}