.card {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

    .col {
      padding: 0;
      position: relative;
      background-color: white;

      .subtitle {
        position: relative;

        .shadow {
          position: absolute;
          height: 100%;
          width: 100%;
          box-shadow: inset 0 -20px 10px -10px rgba(255, 255, 255, 1);
        }
      }
    }

    .content {
      background-color: white;
      padding: 2.5rem;
      width: 100%;
      aspect-ratio: 17 / 11;
      display: flex;
      flex-direction: column;

      .date {
        color: #ABABAB;
        margin: 0;
        font-size: 0.8em;
      }

      .title {
        font-size: 1.2em;
        font-weight: 600;
        padding: 1em 0;
      }

      .subtitle {
        font-size: 0.8em;
        // max-height: 35%;
        overflow: hidden;
        line-height: 200%;
        font-weight: 300;
        flex: 1;
      }

      .buttons {
        font-size: 0.8em;
        display: flex;
        gap: 1em;
        // position: absolute;
        // margin: auto 0;
        // padding: auto 0;
        // bottom: 4em;

        // > * {
        //     margin-right: 2em;
        // }
      }
  }

  .square {
    position: relative;
    aspect-ratio: 1 / 1 !important;
  }

  .image-fit {
    object-fit: fill;
  }

  .image-narrow {
    overflow: hidden;
    object-fit: contain;
    height: auto;

    > * {
      transform: translateY(-20%);
    }
  }

  }
