.section {
    position: relative;
    // background-color: rgba(161, 36, 36, 0.195);
    .background {
        position: absolute;
        width: calc(100vw - var(--scrollbarWidth));
        overflow: hidden;
        height: 100%;
        margin: auto;
        background-color: #FAFAFA;
        left: 50%;
        transform: translateX(-50%);
        z-index: -100;
    }
    .container {
        display: flex;
        max-width: 100%;
        margin: 0;
        padding: 0;


        .row-lg {
            height: 36em;
            max-width: 120%;
            // background-color: rgba(0, 255, 51, 0.293);
            
            .col-left {
            // background-color: rgba(255, 0, 51, 0.293);
            margin: 0;
            padding: 1.5em 0.5em 1.5em 0;
            height: 100%;
            max-width: 22em;

            .card {
                background-color: #FFDC4E;
                height: 100%;
                max-width: 85%;

                .card-img {
                    width: 100%;
                }

                .card-content {
                    position: relative;
                    
                    .card-text {
                        margin: auto;
                        padding: 1em 2em;
                        font-weight: 300;
                        font-style: italic;
                        font-size: 0.9em;
                    }

                    .card-name {
                        font-weight: 600;
                        text-align: end;
                        padding: 1em;
                    }
                }
            }
        }

            .col-right {
                margin: 0;
                padding: 1em;
                height: 100%;
                // background-color: red;
                .row-sm {
                    height: 50%;
                    max-width: 110%;
                    // background-color: rgba(0, 13, 255, 0.331);

                    .col {
                        height: 100%;
                        padding: 0.5em;
                    }
                }
            }

    }
}
}

@media only screen and (max-width: 1400px) {
    .section {
        .container {
            .row-lg {
                height: 100%;
                // background-color: rgba(0, 255, 42, 0.19);
                .col-left {
                    height: 38em;
                    width: 30%;
                    max-width: none;

                    .card {
                        width: 22em;
                        margin: 0 auto;
                    }
                }
                .col-right {
                    .row-sm {
                        height: 50%;
                        .col {
                            height: 50%;

                        }
                        }
                    }
                }

        }
    }
}

@media only screen and (max-width: 768px) {
    .section {
        .container {
            .row-lg {
                .col-left {
                    height: 38em;
                    width: 100%;
                    max-width: none;
                    }
                    }
                    }
            }
}