.container {
    position: relative;

    .checkered {
      position: absolute;
      z-index: -10;
      width: 100vw;
      overflow: hidden;
      margin: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

@media (max-width: 768px) {
  .container {
    .checkered {
      width: 200vw;
    }
  }
}