.container {
    position: relative;
    padding-bottom: 5em;
    margin-bottom: 6em;

    .see-more {
        position: absolute;
        right: 0;
        bottom: -5vw;
    }

    .background {
        position: absolute;
        width: 50vw;
        overflow: hidden;
        height: 100%;
        margin: auto;
        background-color: #fafafa;
        right: 50%;
        z-index: -100;
    }

    .row {
        padding-bottom: 2em;
        .left {
            padding-right: 5em;
        }
        

        .right {
            .content {
                padding: 4em;
                .paragraph {
                    font-weight: 200;
                    padding-bottom: 2em;
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
    }
    }

@media screen and (max-width: 768px) {
    .container {
        .background {
        width: calc(100vw - var(--scrollbarWidth));
        right: 50%;
        transform: translateX(50%);
        }
    }
}