div.title {
    font-size: 2.2em;
    font-weight: 500;
    span {
        padding: 0.1em 0.3em;
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 12%, #ffdc4e 12%, #ffdc4e 41%, rgba(0,0,0,0) 41%);
    }
}

.center {
    text-align: center;
}
