.main {
    margin: 0 auto;
    width: 90vw;
    overflow: hidden;
    // background-color: rgba(255, 100, 53, 0.2);
}   

@media (min-width: 768px) {
    .main {
        width: 78vw;
        overflow: visible;
    }
}