.container {
    
    .row-left {
        position: relative;
        background-color: #EBEBEB;

        .plus {
            position: absolute;
            bottom: -2.5vw;
            right: -5vw;
            width: 5vw;
            height: 5vw;
            background-color: #FFDC4e;
            text-align: center;
            font-size: 2em;
            font-weight: 300;
            box-shadow: 2px 2px 8px #aaa;
            
            .center {
                display: flex;
                height: 100%;
                width: 100%;
                margin: auto;
                align-items: center;
                justify-content: center;
            }
        }

    .light {
        background-color: #f4f4f4;
    }

    .yellow {
        background-color: #FFDC4e;
        height: 10%;
        margin: 0;
        padding: 0;

        .content {
            font-weight: 700;
            padding: 2em;
            text-align: left;
            font-size: 1.2em;

            .author {
                font-weight: 300;
                padding: 1em 0;
            }
        }
    }

    .col {
        margin: auto;
        text-align: center;
        margin: 0;
        height: 18em;

        .img {
            padding: 2em !important;
        }
    }
}

.col-right {
    padding: 3em;

    .background {
        background-color: #FAFAFA;
        position: absolute;
        height: 100%;
        width: calc((100vw - var(--scrollbarWidth)) / 2);
        overflow: hidden;
        z-index: -10;
        transform: translate(-3em, -3em);
    }

    .content-right {
        
        .title {
            font-size: 2.5em;
            
            span {
                font-weight: 700;
            }
        }
        
        .text {
            padding-top: 2em;
            line-height: 1.6em;
            font-weight: 300;
            padding-bottom: 3em;
        }
    }

    .img {
        height: 120%;
        padding: 0;
        margin: 0;
    }
}
}

@media only screen and (max-width: 1199px) {
.container {
    .row-left {
        .plus {
            left: 50%;
            transform: translateX(-50%);
            
        }
    }
    .col-right {
        position: relative;
        .background {
            position: absolute;
            width: calc(100vw - var(--scrollbarWidth));
            overflow: hidden;
            // top: 0;
            // left: 0;
            height: 100%;
            margin: auto;
            left: 50%;
            transform: translateX(-50%);
            z-index: -100;
        }
    }
}
}