.col-more {
    margin-left: auto; 
    margin-right: 0;
.more {
    background-color: #FFDC4e;
    // width: 10vw;
    // min-width: 10vw;
    // max-width: 50vw;
    height: 6em;
    font-weight: 500;
    padding: 1em;
    margin-left: auto; 
    margin-right: 0;
    font-size: 1.2em;
}
}

.container {
    padding: 0em;
    .row {
        width: 100%;
        margin: 0;
        .col {
            padding: 0;
        }
    }
}